$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;


$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-white:#fff;
$color-gray:#777777;
$color-gray-light-1:rgb(247, 247, 247);
$color-gray-3:#333333;
$color-grey-light-2:#eee;


$color-black:#000000b6;

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:4rem;