.card{
    //FUCTIONALITY
    perspective:150rem;
    -moz-perspective:150rem;
    position: relative;
    height:52rem;

    &__side{
        
        height:52rem;
        color: white;
        font-size: 5rem;
        transition: all .8s ease;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        backface-visibility: hidden;
        box-shadow:0 1.5rem 7rem rgba($color-black,.3);
        &--front{
            background-color:white;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image:linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            }
            &-2{
                background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark); 
            }
            &-3{
                background-image:linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark); 
            }
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }
    //FRONT-SIDE
    &__picture{
        background-size: cover;
        height:23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);
        clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);
        &-1{
            background-image:linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),url(../img/nat-5.jpg);
        }
        &-2{
            background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url(../img/nat-6.jpg);
        }
        &-3{
            background-image:linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark),url(../img/nat-7.jpg);
        }
    }
    &__heading{
        color:$color-white;
        font-size:2.8rem;
        text-transform: uppercase;
        font-weight: 300;
        position:absolute;
        top:15rem;
        right:2rem;
        text-align:right;
        width:70%;
    }
    &__heading--span{
        padding:4rem,1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &-1{
            background-image:linear-gradient(to right bottom
            ,rgba($color-secondary-light, 0.85)
            ,rgba($color-secondary-dark, 0.85));
        }
        &-2{
            background-image:linear-gradient(to right bottom,
            rgba($color-primary-light, 0.85),
            rgba($color-primary-dark, 0.85));
        }
        &-3{
            background-image:linear-gradient(to right bottom,
            rgba($color-tertiary-light, 0.85),
            rgba($color-tertiary-dark, 0.85));
        }
    }
    &__details{
        padding:3rem;
        color: $color-black;
        ul{
            list-style-type:none;
            width:80%;
            margin:0 auto;
            li{
                font-size:1.5rem;
                padding:1rem;
                text-align: center;
                &:not(:last-child){
                    border-bottom:1.5px solid #eee;
                }
            }
        }
    }
    //BACK-SIDE
    &-cta{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    text-align:center;
   }
   &__price-box{
    color:$color-white;
    margin-bottom:4rem;
    text-align:center;
   }
   &__price-only{
    font-size:1.3rem;
    text-transform: uppercase;
   }
   &__price-value{
    font-size:6rem;
    font-weight: 100;
   }




   @include respond(tab-port){
    height:auto;
    background-color:white;
    border-radius:3px;
    box-shadow:0 1.5rem 7rem rgba($color-black,.3);

    &__side{
        height:auto;
        position: relative;
        box-shadow:none;
       
        &--back{
            transform: rotateY(0);
           clip-path: polygon( 0 15%,100% 0,100% 100%,0 100%) ;
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(0);
    }
   
    //BACK-SIDE
    &-cta{
    position:relative;
    top:0;
    left:0;
    transform:translate(0);
    width:100%;
    padding:7rem 4rem 4rem 4rem;
    font-size:3rem;
   }
   &__price-box{
    margin-bottom:3rem;
   }
  
   &__price-value{
    font-size:3rem;
    //font-weight: lighter;
   }
}
}